/* #random { */
    /* display:inline; */
    /* display can be inline, block, none, or inline-block, in which we can set margin padding on top bottom */
    /* inline, no margin padding on top bottom*/
/* } */

/* #aa {
    display: block;
} */

#box1 {
    background-color:blue;
}

#box2 {
    background-color:red;
    /* visibility:hidden; */
    /* display:none; */
    /* space reserved when visibility hidden, no space display none */
}

#box3 {
    background-color:rgba(0, 128, 0, 0.715);
    /* rgba values, a means alpha channel means opacity, 0 to 1 */
}

div {
    height:100px;
    width:100px;
    margin:25px;
    padding:25px;
    display:inline-block;
    /* in inline only margin and padding on left and right, not on top and bottom in inline elements */
}