body {
    background-color: rgb(97, 45, 45);
}
#navbar {
    background-color:rgb(53, 53, 53);
    color:white;
    height:50px;
    border-color:white;
    border-width:5px;
    border-style:solid;
    padding-top:20px;
}
a {
    margin-right: 16%;
    color: white;
    text-decoration:none;
    font-size:25px;
    
}

span {
    margin-right: 18%;
}
#rightmost {
    margin-right:0%
}
