div {
    background-color: yellow;
}
@media(width:500px) {
    div {
        background-color:red;
    }
}

@media(min-width:550px) {
    div {
        background-color: blue;
    }
}
@media(min-width:570px) and (max-width:670px){
    div {
        background-color:green;
    }
}
/* can also use max-width */
